.list-item {
  padding: 10px;
  margin: 5px;
  list-style-type: none;
  background: #f7b3b959;
  border: 2px solid #f7b3b959;
  word-wrap: break-word;
}

.list-item:hover {
  padding: 10px;
  list-style-type: none;
  border: 2px solid #f7b3b9fc;
}

.list-item:active {
  padding: 10px;
  list-style-type: none;
  background: #f7b3b9fc;
  border: 2px solid #f7b3b9fc;
}